:root { 
--blue_gray_50:#f0f0f2; 
--red_600:#dc4234; 
--red_300:#de7673; 
--deep_orange_100_01:#ffb8b8; 
--blue_gray_50_90:#f0f0f290; 
--red_50:#fcedeb; 
--teal_400:#2ab87e; 
--teal_600:#27996d; 
--black_900:#000000; 
--blue_gray_800:#3f3d56; 
--blue_gray_900_01:#2f2e41; 
--deep_orange_500:#ed662c; 
--blue_gray_900:#252b3b; 
--blue_gray_900_87:#252b3b87; 
--pink_300:#ff6584; 
--deep_orange_100:#ffb6b6; 
--blue_gray_50_01:#eaf8f3; 
--gray_600:#a0616a; 
--gray_700:#7a4d64; 
--blue_gray_200:#a9aec0; 
--blue_gray_100:#cccccc; 
--blue_gray_300:#8198af; 
--amber_600:#ffbb00; 
--yellow_50:#fff9e6; 
--amber_300:#f9d14b; 
--gray_700_3f:#7a4d643f; 
--gray_300:#e6e6e6; 
--blue_gray_300_01:#88b5a1; 
--gray_100:#f7f6f2; 
--blue_gray_300_90:#8198af90; 
--blue_gray_900_90:#252b3b90; 
--gray_100_01:#f2f2f2; 
--white_A700:#ffffff; 
}